.bar-title{
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color:rgba(0,0,0,0.3);
  cursor: pointer;
}
.bar-title-active{
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color:#384182;
  font-family: Avenir-Black, Helvetica, Arial, sans-serif;
  cursor: pointer;
}